#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 280px 1fr;
  height: 100vh;
}

header {
  background-color: #138a81;
  color: white;
  padding: 1rem 2rem;
  border-radius: 12px 12px 2px 2px;
  margin-bottom: 2rem;
}